!mysql/bin/myexp
!mysql/conf/myexp.conf
mysql/log/*
!mysql/log/.gitkeep
mysql/export/*
!mysql/export/.gitkeep
!oracle/bin/oraexp
!oracle/conf/oraexp.conf
oracle/log/*
!oracle/log/.gitkeep
oracle/export/*
!oracle/export/.gitkeep
!postgresql/bin/postexp
!postgresql/conf/postexp.conf
postgresql/log/*
!postgresql/log/.gitkeep
postgresql/export/*
!postgresql/export/.gitkeep
